@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

// Main styles
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  padding: 0;
}
button,
input,
textarea,
select,
option {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}
.hide {
  overflow-y: auto !important;
}
.special-title {
  color: #656d72;
  position: relative;
  margin-left: 32px;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 7.5px;
  padding-right: 16px;
}
.special-title::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #d9d9d9;
  left: -30px;
  top: 11px;
}
.special-subtitle {
  color: #232e35;
  font-size: 44px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 32px;
}
.react-rater .react-rater-star {
  font-size: 34px;
}
.react-rater .react-rater-star.will-be-active {
  color: #000 !important;
}
.react-rater .react-rater-star.is-active {
  color: #ea4949 !important;
}
.section {
  margin-bottom: 250px;
}

.react-star-rate > li {
  color: #656d72;
}

.react-star-rate > li:hover div {
  color: #ea4949 !important;
}

.react-star-rate__star .react-star-rate__star--full {
  color: #ea4949;
}
.no-matching {
  text-align: center;
  font-size: 36px;
}
// Slider

.slick-arrow {
  z-index: 3;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 15px 17px;
  border-radius: 16px;
  margin-bottom: 144px;
}
.slick-prev,
.slick-next {
  position: absolute;
  top: -160px;
  right: 0;
}
.slick-prev {
  right: 56px;
  width: 41px;
}
.slick-arrow:hover {
  background-color: #eae6fe;
  padding: 15px 17px;
}

svg path {
  transition: all 0.3s ease-in-out;
}

// Header
.menu-toggle {
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border: none;
  display: none;
  width: 25px;
  height: 25px;
  position: relative;
  padding: 0;
  span {
    transition: all 0.3s ease-in-out;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
  }
  &::after,
  &::before {
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000;
    left: 0;
  }
  &::after {
    bottom: 0;
  }
  &::before {
    top: 11px;
  }
  &.active {
    span {
      transition: all 0.3s ease-in-out;
      display: none;
    }
    &::before {
      transform: rotate(45deg);
      top: 11px;
    }
    &::after {
      bottom: 11px;
      transform: rotate(-45deg);
    }
  }
}
.header {
  margin-bottom: 200px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.header__choose {
  position: fixed;
  left: 243px;
  bottom: 30px;
  background-color: transparent;
  border: 1px solid #ea4949;
  border-radius: 4px;
  padding: 10px;
}
.header__ru,
.header__ro {
  font-weight: 500;
}
.header__logo {
  &-link {
    display: flex;
    align-items: center;
  }
  &-img {
    padding-right: 12px;
  }
  &-text {
    color: #ea4949;
    font-weight: 700;
  }
}
.search {
  &__form {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  &__form.hide {
    top: -100px;
  }
  &__form-input {
    width: 90%;
    background-color: transparent;
    color: #1e1e1e;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  &__form-input::placeholder {
    color: #1e1e1e;
  }
  &__form-close {
    width: 30px;
    height: 30px;
  }
  &__form-search {
    width: 20px;
    height: 20px;
  }
  &__btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
  }
  &__btn + &__btn {
    margin-left: 20px;
  }
}
.menu__list {
  display: flex;
}
.menu__item + .menu__item {
  padding-left: 56px;
}
.menu__btn-link {
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: none;
}
.menu__link {
  transition: all 0.3s ease-in-out;
  position: relative;
}
.menu__link:hover {
  color: #ea4949;
}
.menu__link::before {
  content: "";
  width: 0;
  position: absolute;
  left: auto;
  background-color: #ea4949;
  height: 2px;
  border-radius: 10px;
  bottom: -10px;
  right: auto;
  transition: all 0.3s;
}
.menu__link:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}
.cart {
  cursor: pointer;
  border: 0;
  padding: 13px;
  display: flex;
  background-color: transparent;
  align-items: center;
  &__text {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    padding-right: 7px;
  }
}

//Discover

.discover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    width: 538px;
    color: #232e35;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 32px;
  }
  &__list {
    display: flex;
  }
  &__item + &__item {
    padding-left: 32px;
  }
}

// Services

.services {
  &__title {
    font-size: 16px;
    color: #232e35;
    margin-bottom: 20px;
    line-height: 20px;
    font-weight: 500;
  }
  &__subtitle {
    margin-bottom: 55px;
  }
  &__label {
    //text-align: center;
    color: #656d72;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px !important;
    letter-spacing: 7.5px;
  }
  &__item {
    text-align: center;
  }
  &__text {
    width: 247px;
    line-height: 32px;
  }
  &__img {
    margin-bottom: 36px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
}

//Products
.product {
  &__item {
    width: 358px !important;
  }
  &__item-img {
    width: inherit;
    object-fit: cover;
    margin-bottom: 25px;
    border-radius: 16px;
  }
  &__item-info {
    display: flex;
    justify-content: space-between;
  }
  &__subtitle {
    margin-bottom: 144px;
  }
}
.products {
  &-page__inner {
    display: flex;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 100px;
    margin-bottom: 135px;
  }
  &__item-img {
    width: 250px;
    margin-bottom: 12px;
    object-fit: cover;
  }
  &__item-info {
    display: flex;
    justify-content: space-between;
  }
}
// Catalog
.catalog {
  margin-right: 200px;
  &__item + &__item {
    margin-top: 50px;
  }
  &__link {
    transition: all 0.3s ease-in-out;
  }
  &__link:hover {
    color: #ea4949;
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
  }
}
// Questions
.question__list {
  margin: 0 auto;
  padding-left: 32px;
}
.question__subtitle {
  margin-bottom: 45px;
}
.question__item-info {
  display: flex;
  justify-content: space-between;
}
.question__item-title {
  transition: all 0.5s;
  font-size: 16px;
  color: #232e35;
  font-weight: 600;
  margin-bottom: 30px;
  &.active {
    color: #ea4949;
  }
}
.question__item {
  cursor: pointer;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.question_item-arrow {
  transition: all 0.5s ease-in-out;
}
.question_item-arrow.active {
  transform: rotate(180deg);
}
.question__item + .questions__item {
  margin-top: 30px;
}
.question__item-text {
  transition: all 0.5s;
  text-align: left;
  line-height: 32px;
  font-weight: 400;
  padding-bottom: 30px;
}
.question__item-title.active {
  transition: all 0.5s;
  margin-bottom: 10px !important;
}
.question__item-text.active {
  visibility: visible;
}
// About

.about {
  &__item {
    margin-bottom: 40px;
  }
  &__subtitle {
    margin-bottom: 107px;
  }
  &__text {
    line-height: 32px;
    width: 584px;
    margin: 0 auto 32px;
    font-weight: 300;
  }
  &__list {
    text-align: center;
    width: 584px;
    margin: 0 auto;
  }
  &__item-title {
    text-align: left;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  &__item-line {
    border-radius: 2px;
    height: 8px;
    background-color: #ea4949;
  }
}

// Form

.form {
  display: flex;
  align-items: center;
  &__inputs {
    width: 600px;
    margin-right: 105px;
  }
  &__input {
    width: inherit;
    display: block;
    font-size: 14px;
    padding: 15px 24px;
    margin-bottom: 25px;
    border: none;
    background-color: transparent;
    color: #656d72;
    &::placeholder {
      color: #656d72;
    }
  }
  &__btn {
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    background-color: #ea4949;
    width: inherit;
    padding: 16px 0;
    border: none;
  }
  &__area {
    width: inherit;
    border: none;
    background-color: transparent;
    padding: 16px 24px;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 17px;
    color: #656d72;
    resize: none;
    &::placeholder {
      color: #656d72;
    }
  }
  &__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 53px;
  }
  &__info-img {
    padding-right: 47px;
  }
  &__info-title {
    color: #232e35;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  &__info-link {
    color: #656d72;
    font-size: 14px;
    line-height: 24px;
  }
}
// One Product

.one-product {
  &__img {
    object-fit: cover;
    width: 450px;
    margin-right: 50px;
  }
  &__info {
    width: 667px;
  }
  &__inner {
    display: flex;
  }
  &__details {
    display: flex;
    align-items: center;
  }
  &__rate {
    display: flex;
    padding-right: 46px;
    margin-right: 46px;
  }

  &__views {
    position: relative;
    margin-left: 46px;
  }
  &__views::after {
    content: "";
    position: absolute;
    left: -32px;
    top: 10px;
    width: 16px;
    height: 2px;
    background-color: #d9d9d9;
  }
  &__title {
    color: #232e35;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
  }
  &__instock {
    text-transform: uppercase;
    color: #656d72;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    display: flex;
  }
  &__available {
    position: relative;
    margin-right: 66px;
    padding-right: 41px;
  }
  &__available::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #d9d9d9;
    right: -15px;
    top: 10px;
  }
  &__text {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 72px;
  }
  &__buy {
    display: flex;
  }
  &__price {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    margin-right: 25px;
    border: 2px solid #d9d9d9;
    padding: 16px 30px;
    border-radius: 8px;
  }
  &__btn {
    cursor: pointer;
    color: #ea4949;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    border: 2px solid #ea4949;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 16px 30px;
  }
  &__cart {
    padding-left: 7px;
    padding-right: 30px;
  }
  &__stars {
    width: 152px;
  }
}
// Contacts
.contacts {
  color: #232e35;
  &__text {
    width: 784px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 32px;
  }
}
// About Us

.about-us {
  &__intro {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__services {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-size: 16px;
    line-height: 32px;
    color: #232e35;
    margin-bottom: 200px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    width: 661px;
  }
}
// Parfumery

.parfumery-categories {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}
.parfumery__item {
  width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parfumery__item-label {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 16px;
  line-height: 45px;
  background-color: rgba(#1e1e1e, 50%);
}

// Cosmetics

.cosmetics-categories {
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
  }
}
.cosmetics__item {
  width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cosmetics__item-label {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 16px;
  line-height: 45px;
  background-color: rgba(#1e1e1e, 50%);
}
// Footer
.footer {
  text-align: center;
  padding-bottom: 88px;
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__item + &__item {
    padding-left: 32px;
  }
  &__copyright {
    font-size: 14px;
    color: #656d72;
    line-height: 17px;
  }
}
// Media

@media (max-width: 1360px) {
  .products-page__inner {
    flex-direction: column;
  }
  .catalog {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .products__list {
    text-align: center;
  }
  .header__choose {
    left: 10px;
  }
}

@media (max-width: 1110px) {
  .one-product__inner {
    flex-direction: column;
  }
  .one-product__img {
    margin-bottom: 30px;
  }
  .slick-track {
    text-align: center;
  }
  .about-us__services {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: first baseline;
  }
  .about-us__titles {
    max-width: 100%;
  }
}
@media (max-width: 1086px) {
  .parfumery-categories__inner,
  .cosmetics-categories__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .parfumery__item {
    width: 100%;
  }
  .cosmetics__item {
    width: 100%;
  }
  .discover {
    flex-wrap: wrap;
  }
  .discover__info {
    margin: 0 auto 30px;
  }
  .discover__text {
    width: 100%;
  }
  .discover__img {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 968px) {
  .form__inputs {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .contacts__text {
    width: 100%;
  }
  .services__subtitle {
    margin-bottom: 30px;
  }
  .form {
    flex-direction: column;
  }
  .products__list {
    grid-gap: 50px 0px;
  }
}
@media (max-width: 814px) {
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .section,
  .header {
    margin-bottom: 100px;
  }
  .services__list {
    flex-wrap: wrap;
  }
  .services__item {
    text-align: center;
    margin: 0 auto 50px;
  }
  .services__title {
    font-size: 14px;
  }
  .services__text {
    line-height: 25px;
    font-size: 14px;
  }
  .catalog__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .catalog__item + .catalog__item {
    margin-top: 0px;
  }
  .catalog__link {
    border: 0;
    border-radius: 16px;
    padding: 10px 30px;
    background: #000;
    font-weight: 500;
    color: #fff;
  }
}
@media (max-width: 768px) {
  .parfumery-categories__inner,
  .cosmetics-categories__inner {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .one-product__img {
    width: 100%;
  }
  .one-product__info {
    width: 100%;
  }
  .about-us__text {
    margin-bottom: 100px;
  }
  .special-subtitle {
    max-width: 100%;
  }
  .about__subtitle {
    margin-bottom: 30px;
  }
  .about__text {
    width: 100%;
    margin-bottom: 0 0 30px;
  }
  .about__list {
    width: 100%;
  }
  .about__item-line {
    max-width: 100%;
  }
  .products__slider {
    margin-bottom: 150px;
  }
  .slick-arrow {
    margin-bottom: 100px;
    height: 46px;
  }
  .slick-prev,
  .slick-next {
    top: 330px;
  }
  .slick-next {
    right: 56px;
  }
  .slick-prev {
    left: 56px;
  }
  .product__subtitle {
    margin-bottom: 40px;
  }
  .header__logo {
    margin-right: 30px;
  }
  .header__logo,
  .search__btn,
  .cart {
    z-index: 2;
  }
  .menu-toggle {
    order: 3;
    z-index: 8;
    display: block;
    margin-left: 10px;
  }
  .cart {
    order: 2;
  }
  .menu {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
  }
  .menu.active {
    z-index: 6;
    top: 0px;
    background-color: #fff;
  }
  .menu__list {
    display: block;
  }
  .menu__item {
    padding: 30px 0;
  }
  .menu__item + .menu__item {
    padding-left: 0;
  }
  .search__btn {
    order: 1;
    margin-right: 10px;
    margin-left: auto;
  }
  .search__form {
    z-index: 9;
  }
}
@media (max-width: 532px) {
  .products__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 0;
  }
  .one-product__title {
    font-size: 26px;
    line-height: 36px;
  }
}
@media (max-width: 400px) {
  .one-product__details {
    margin-bottom: 20px;
  }

  .one-product__title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .one-product__text {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .one-product__price {
    font-size: 14px;
    margin-right: 20px;
  }
  .one-product__btn {
    font-size: 14px;
    padding: 5px 0px 5px 15px;
  }
  .recommended__slider {
    margin-bottom: 150px;
  }
  .about-us__logo {
    max-width: 100%;
  }
  .question__item-title,
  .question__item-text {
    font-size: 14px;
  }
  .question__item-text {
    line-height: 24px;
  }
  .question__list {
    padding-left: 0;
  }
  .question__subtitle {
    font-size: 36px;
  }
  .special-title {
    margin-bottom: 10px;
    line-height: 18px;
  }
  .slick-prev,
  .slick-next {
    top: 310px;
  }
  .search__form-input {
    font-size: 14px;
  }
  .special-title {
    font-size: 10px;
  }
  .special-subtitle {
    max-width: 100%;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .header__logo-text {
    font-size: 12px;
  }
  .cart__text {
    font-size: 12px;
  }
  .catalog__link {
    font-size: 14px;
  }
  .product__item {
    width: 100% !important;
  }
}
